<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/poem-style.css" />
    <title><%=poem.title%> by <%=user.username%></title>
  </head>
  <body>
    <div class="page-container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </nav>
      <header class="poem-header">
        <h1 id="poem-title"><%=poem.title%></h1>
        <p id="poem-author">by: <%=user.username%></p>
      </header>

      <main class="poem-container">
        <p id="poem-body"><%=poem.body%></p>
      </main>

      <p id="poem-date"><%=poem.timestamp%></p>
      <footer>
        <p>&copy; 2025 Poet's Corner. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
